:root {
  --pm: rgb(255, 0, 170);
  --bg: rgb(0, 0, 0);
  --wt: white;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins";
  color: var(--wt);
}

body {
  background-color: var(--bg);
  font-family: "Poppins";
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1.7rem;
  background-color: var(--bg);
  border-bottom: 2px solid var(--pm);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo {
  font-size: 2.5rem;
  color: var(--wt);
  font-family: "Great Vibes";
}

.navbar .logo span {
  color: var(--pm);
  font-family: "Great Vibes";
}

.navbar .navbar-nav a {
  color: var(--wt);
  padding: 0.8rem;
}

.navbar .navbar-nav a:hover {
  color: var(--pm);
  border-bottom: 1px solid var(--pm);
}

.hero .welcome {
  display: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12.4rem;
  min-height: 100vh;
}

.hero .welcome h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.hero .welcome p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.hero .welcome h2 {
  font-family: "Great Vibes";
  font-size: 5rem;
  color: var(--pm);
  padding-bottom: 1rem;
}

.hero .welcome .btn {
  background-color: var(--wt);
  color: var(--pm);
  padding: 1rem;
  border-radius: 1rem;
}

.hero .welcome .btn:hover {
  background-color: var(--pm);
  color: var(--wt);
}

.undangan {
  min-height: 100vh;
  padding: 6.8rem;
}

.undangan .undangan-nav {
  display: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.undangan .undangan-nav h2 {
  font-size: 2rem;
  padding-top: 1rem;
}
.undangan .undangan-nav p {
  font-size: 1rem;
  font-weight: 200;
  padding-top: 1.5rem;
}
.undangan .undangan-nav h1 {
  font-size: 1rem;
  font-weight: 200;
  padding-top: 1.5rem;
}

.undangan .form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.undangan .absen {
  padding-bottom: 3rem;
}

.undangan .form .nama {
  color: var(--wt);
  background-color: var(--pm);
  padding: 0.5rem;
  text-align: center;
  max-width: 20rem;
}

.undangan .form .nama::placeholder {
  text-align: center;
  color: var(--wt);
}

.undangan .form .nomor {
  color: var(--wt);
  background-color: var(--pm);
  padding: 0.5rem;
  text-align: center;
  max-width: 20rem;
}

.undangan .form .nomor::placeholder {
  text-align: center;
  color: var(--wt);
}

.undangan .btn {
  padding: 0.5rem;
  color: var(--pm);
  background-color: var(--wt);
  border-radius: 0.5rem;
}

.undangan .btn:hover {
  color: var(--wt);
  background-color: var(--pm);
}

.lokasi {
  min-height: 100vh;
  padding: 8rem;
}

.lokasi .tempat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lokasi .tempat h2 {
  padding-bottom: 1rem;
}

.lokasi .tempat .map {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

.foto {
  padding: 8rem;
}

.foto .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 1rem;
}

.foto .row .img {
  aspect-ratio: 1 / 1;
  background-color: var(--wt);
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.foto .row .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto .row .img .show {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: var(--pm);
  text-align: center;
  padding: 1rem 0 0.5rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: var(--wt);
  margin: 1rem;
}

footer .social a:hover {
  color: black;
}

footer .credit a {
  font-weight: 600;
  color: var(--bg);
}

footer .credit a:hover {
  color: var(--wt);
}

/* Media Queries */

@media (max-width: 576px) {
  html {
    font-size: 55%;
  }

  .hero .welcome {
    margin-top: 20rem;
  }

  .undangan .undangan-nav {
    margin-top: 20rem;
  }

  .lokasi .tempat {
    margin-top: 15rem;
  }
}
